apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  finalizers:
  - kubernetes.io/pvc-protection
  name: "{{ outer_item.pvc_name }}"
  namespace: "{{ outer_item.pvc_namespace }}"
spec:
  accessModes: {{ outer_item.access_modes | to_yaml }}
  resources:
    requests:
      storage: "{{ outer_item.capacity }}"
  storageClassName: "{{ outer_item.storage_class }}"
  volumeMode: Filesystem
