apiVersion: batch/v1
kind: Job
metadata:
  name: "mig-{{ pvc.pvc_name }}"
  namespace: "{{ item.namespace }}"
  labels:
    target: "{{ pvc.pvc_name }}"
    purpose: rsync
    owner: ocs-migrate
spec:
  template:
    spec:
      restartPolicy: Never
      volumes:
      - name: source
        persistentVolumeClaim:
          claimName: "{{ pvc.pvc_name }}"
      - name: destination
        persistentVolumeClaim:
          claimName: "{{ pvc.pvc_name }}-ocs"
      containers:
      - name: rsync
        resources:
          limits:
            cpu: {{ transfer_pod_cpu_limits }}
            memory: {{ transfer_pod_mem_limits }}
          requests:
            cpu: {{ transfer_pod_cpu_requests }}
            memory: {{ transfer_pod_mem_requests }}
        imagePullPolicy: Always
        image: "{{ transfer_pod_image }}"
        volumeMounts:
        - mountPath: /source
          name: source
        - mountPath: /destination
          name: destination
